@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import './variables.scss';

body {
    font-family: $main-font;
    color: $color-main;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-weight: 500;
    border: none;
    width: max-content;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: $color-exalted;
    color: white;
    &.ms_light-button {
        background-color: white;
        color: $color-exalted;
        border: 1px solid #bcbcbc;
    }
    &:hover {
        background-color: $theme-logo-color;
        color: white;
    }
}